
*{
    margin: 0;
    padding: 0;
}

.header img{
    padding: 2% 2%;
    width: 100px;
}

.header{
    min-height: 2vh;
    width: 100%;
    background-color: white;
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: stretch;
}

.nav-links{
    padding: 0%;
    flex: 1;
    text-align: right;
    margin-right: auto;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 1px 55px;
    width: 5%;
    position: relative;
    color: black;
    text-decoration: none;
    font-family: "Helvetica-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-family: "Helvetica-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
}

.nav-links ul li a:hover {
    font-weight: bold;
}

.nav-links ul li.archive-link{
    color: #0F75BC;
}


.archive_work{
    min-height: 850px;
    width: 100%;
    background-color: #343434;
    background-position: center;
    position: relative;
}

.grid-container{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.type2{
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Helvetica-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
    color: white;
}

.gallery{
    display: flex;
    gap: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.picture img{
    width: 400px;
    height: 100%;
    object-fit: cover;
}
.picture img:hover{
    width: 400px;
    opacity: 0.6;
    transition: 0.5s ease-in-out;
}