.home-featured-work {
    background-color: #343434;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home-featured-work .div {
    background-color: #343434;
    width: 1920px;
    height: 2508px;
    position: relative;
}

.home-featured-work .overlap-group {
    position: absolute;
    width: 1920px;
    height: 1128px;
    top: 0;
    left: 0;
}

.home-featured-work .rectangle {
    position: absolute;
    width: 1920px;
    height: 1125px;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.home-featured-work .my-name-is-nathan-i {
    position: absolute;
    width: 730px;
    top: 401px;
    left: 402px;
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    color: #000000;
    font-size: var(--h1-font-size);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    font-style: var(--h1-font-style);
}

.home-featured-work .logo {
    position: absolute;
    width: 108px;
    height: 101px;
    top: 42px;
    left: 47px;
}

.home-featured-work .vector {
    position: absolute;
    width: 1103px;
    height: 979px;
    top: 149px;
    left: 817px;
}

.home-featured-work .img {
    position: absolute;
    width: 1020px;
    height: 884px;
    top: 244px;
    left: 900px;
}

.home-featured-work .vector-2 {
    position: absolute;
    width: 836px;
    height: 737px;
    top: 391px;
    left: 1084px;
}

.home-featured-work .vector-3 {
    position: absolute;
    width: 591px;
    height: 528px;
    top: 600px;
    left: 1329px;
}

.home-featured-work .text-wrapper {
    position: absolute;
    width: 238px;
    top: 1161px;
    left: 841px;
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    color: #ffffff;
    font-size: var(--h-2-font-size);
    text-align: center;
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    white-space: nowrap;
    font-style: var(--h-2-font-style);
}

.home-featured-work .logo-2 {
    position: absolute;
    width: 727px;
    height: 729px;
    top: 1717px;
    left: 196px;
    object-fit: cover;
}

.home-featured-work .screen-shot {
    position: absolute;
    width: 727px;
    height: 455px;
    top: 1222px;
    left: 196px;
    object-fit: cover;
}

.home-featured-work .vertical-logo {
    position: absolute;
    width: 727px;
    height: 727px;
    top: 1222px;
    left: 965px;
    object-fit: cover;
}

.home-featured-work .album {
    position: absolute;
    width: 727px;
    height: 456px;
    top: 1990px;
    left: 965px;
    object-fit: cover;
}
