
*{
    margin: 0;
    padding: 0;
}

.header img{
    padding: 2% 2%;
    width: 100px;
}

.header{
    min-height: 8vh;
    width: 100%;
    background-color: white;
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: stretch;
}

.nav-links{
    padding: 0%;
    flex: 1;
    text-align: right;
    margin-right: auto;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 1px 55px;
    width: 5%;
    position: relative;
    color: black;
    text-decoration: none;
    font-family: "Helvetica-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-family: "Helvetica-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
}

.nav-links ul li a:hover {
    font-weight: bold;
}

.nav-links ul li.home-link{
    color: #0F75BC;
}

.above_fold {
    background-image: url("triangles/home bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 0;
    padding-top: 58.64%; /* (img-height / img-width * container-width) */
    /* (853 / 1280 * 100) */
}
.label {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: black;
    text-align: left;
    margin-top: 5%;
}

.label {
    padding-left: 18%;
    padding-top: 16%;
    display: flex;
    width: 730px;
    height: 500px;
}

.label .type{
    position: absolute;
    color: #000000;
    font-family: "Helvetica-Bold", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
}


.featured{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: auto;
    background-color: #343434;
    padding-bottom: 50px;
}

.grid-container{
    width: fit-content;
}

.type2{
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    font-family: "Helvetica-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
    color: white;
}

.gallery{
    display: flex;
    gap: 50px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.picture img{
    width: 800px;
    height: 100%;
    object-fit: cover;
}

.picture img:hover{
    width: 800px;
    opacity: 0.6;
    transition: 0.5s ease-in-out;
}

@media(max-width: 1440px) {
    h2{
        font-size: 25px;
    }
    p{
        font-size: 21px;
    }
    .nav-links{
        padding-top: 20px;
        padding-right: 40px;
    }
    .nav-links ul li{
        padding: 1px 22px;
        font-size: 18px;
    }
    .nav-links ul li a{
        font-size: 18px;
    }
    .gallery{
    }
    .column{

    }
    .picture img{
        width: 600px;
        height: auto;
    }
    .picture img:hover{
        width: 600px;
        opacity: 0.6;
        transition: 0.5s ease-in-out;
    }
}

@media(max-width: 1024px) {
    h1{
        font-size: 25px;
    }
    p{
        font-size: 21px;
    }
    .nav-links{
        padding-top: 20px;
        padding-right: 40px;
    }
    .nav-links ul li{
        padding: 1px 22px;
        font-size: 18px;
    }
    .nav-links ul li a{
        font-size: 18px;
    }
    .type2{
        padding: 30px 0px 30px 0px;
    }
    .gallery{
        gap: 30px;
    }
    .column{
        gap: 30px;
    }
    .picture img{
        width: 400px;
        height: auto;
    }
    .picture img:hover{
        width: 400px;
        opacity: 0.6;
        transition: 0.5s ease-in-out;
    }
}

@media(max-width: 425px) {
    h1{
        font-size: 21px;
    }
    h2{
        font-size: 19px;
    }
    p{
        font-size: 21px;
    }
    .nav-links{
        padding-top: 20px;
        padding-right: 40px;
    }
    .nav-links ul li{
        padding: 1px 22px;
        font-size: 18px;
    }
    .nav-links ul li a{
        font-size: 18px;
    }
    .above_fold {
        display: flex;
        justify-content: center;
        background-color: white;
        background-size: 425px 300px;
        width: 100vw;
        height: 300px;
        padding-top: 0px; /* (img-height / img-width * container-width) */
        /* (853 / 1280 * 100) */
    }
    .label {
        display: flex;
        justify-content: center;
        padding-left: 10px;
        padding-top: 150px;
        width: 300px;
        height: 150px;
    }
    .label .type{
        display: flex;
        justify-content: center;
        font-size: 25px;
    }
    .type2{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .gallery{
        padding-top: 0px;
        padding-bottom: 10px;
        gap: 10px;
        flex-direction: column;
    }
    .column{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .picture img{
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }
    .picture img:hover{
        width: 100vw;
        opacity: 0.6;
        transition: 0.5s ease-in-out;
    }
    .featured{
        padding-bottom: 20px;
    }
}