:root {
    /*-----------Color------------*/
    --clr-grey-400: #343434;
    --clr-light_grey-400: #D1D2D4;
    --clr-blue-400: #0F75BC;
    --clr-light_blue-400: #6ECFF6;
}


*{
    margin: 0;
    padding: 0;
}

/*-----------Type------------*/
h1 {
    font-family: "Helvetica-Bold", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
}

h2 {
    font-family: "Helvetica-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
}

p {
    font-family: "Helvetica-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
}


.header img{
    padding: 2% 2%;
    width: 100px;
}

.header{
    min-height: 10vh;
    width: 97%;
    background-color: white;
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: stretch;
}

.nav-links{
    padding: 0%;
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 1px 55px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-family: "Helvetica-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
}

.headline{
    min-height: 90vh;
    width: 100%;
    background-color: white;
    background-position: center;
    position: relative;
}

.label {
    display: flex;
    width: 730px;
    height: 500px;
}

.label .type{
    position: absolute;
    top: 270px;
    left: 400px;
    color: #000000;
    font-family: "Helvetica-Bold", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
}

.featured{
    min-height: 115vh;
    width: 100%;
    background-color: #343434;
    background-position: center;
    position: relative;
}

.grid-container{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.type2{
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Helvetica-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
    color: white;
}

.gallery{
    display: flex;
    gap: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.picture img{
    width: 600px;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 768px){
    .gallery{
        flex-direction: column;
    }
}