:root {
    /*-----------Color------------*/
    --clr-grey-400: #343434;
    --clr-light_grey-400: #D1D2D4;
    --clr-blue-400: #0F75BC;
    --clr-light_blue-400: #6ECFF6;
}



/*-----------Type------------*/
h1 {
    font-family: "Helvetica-Bold", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0px;
    line-height: 40px;
    font-style: normal;
}

h2 {
    font-family: "Helvetica-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
}

p {
    font-family: "Helvetica-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    font-family: "Helvetica-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: normal;
    font-style: normal;
    color: #6ECFF6;
}

@media(max-width: 425px) {
    h1 {
        font-size: 21px;
    }
    h2 {
        font-size: 19px;
    }
    p {
        font-size: 17px;
    }
}